<div class="container">
	<div class="row">
		<div class="col">
			<p class="h5">trending today</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<p class="h5">trending 1</p>
		</div>

		<div class="col-sm-3">
			<p class="h5">trending 2</p>
		</div>

		<div class="col-sm-3">
			<p class="h5">trending 3</p>
		</div>

		<div class="col-sm-3">
			<p class="h5">trending 4</p>
		</div>

		<div class="row-mt-4">
			<div class="col">
				<p class="h5">Popular posts</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-8">
			Left col wide
		</div>

		<div class="col-4">
			<p class="h5">Up and coming Communities</p>

			<div class="card" style="width: 18rem;">
				<ul class="list-group-flush">
					<li class="list-group-item">This is it</li>
					<li class="list-group-item">This is it</li>
					<li class="list-group-item">This is it</li>
					<li class="list-group-item">This is it</li>
				</ul>
			</div>

			<%= link_to "View all", communities_path, class: "btn btn-primary mt-4" %>
		</div>
	</div>
</div>